

.backdrop{
    position: fixed;
    top: 0;
    min-height: 100vh;
    width: 100vw;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.45);
}

.minibag{
    position: absolute;
    width: 50%;
    top: 0;
    height: 750px;
    color: black;
    margin: 10px auto;
    transform: scale(0.7);
    background-color: white;
    border-radius: 10px;
    align-items: center;
    position: absolute;
width: 500px;
height: 700px;
right: 35%;
top: -8%;
}

.items{
    margin: 20px auto;
    height: 500px;
    overflow-y: scroll;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.checkOut{
    width: 40%;
    height: 50px;
    background: #5ECE7B;
    font-size: x-large;
    margin-right: 1rem;
    align-self: center;
    color: white;
    align-items: center;
}
.showFullCart{
       width: 40%;
    height: 50px;
    margin-right: 1rem;
    color: black;
    background: white;
    font-size: x-large;
}
