* {
  box-sizing: border-box;
}
.details {
  /* background-color: rgb(219, 227, 227); */
    background-color: rgb(255, 255, 255);

  position: absolute;
  width: 18.25rem;
  height: 32.063rem;
  left: 929px;
  top: 160px;
  display: felx;
  flex-direction: column;
  justify-content: space-between;
}
.details h1 {
  font-family: "Times New Roman", Times, serif;
  color: #1d1f22;
  position: absolute;
  /* background-color: rgb(219, 227, 227); */
    background-color: rgb(255, 255, 255);


  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  /* identical to box height, or 90% */

  display: flex;
  align-items: center;
}

main {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
main section {
  width: 100%;
  max-width: 1500px;
  height: 100vh;
  /* background-color: #bef7b0; */
    background-color: rgb(255, 255, 255);

  max-height: 513px;
  margin: 160px 219px 72px;
}

#grid {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns:1.5fr 4.5fr 2.5fr ;
  gap: 0 50px;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
}
#product-imgs {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1/6;
  height: 100%;
   overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; 
}

#product-imgs::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
/* .img-select{
  display: flex;
  flex-direction: column;
} */
.img-item{
  margin: 0.3rem;
  height: 110px;
  width: 110px;
  padding: 6px;
  object-fit: cover;
}

/* .img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
  opacity: 0.8;
} */
.box:nth-child(2) {
  /* background-color: rgb(219, 227, 227); */
    min-height: 65vh;
    min-width: 30vw;
  object-fit: contain;
  grid-row: 1/6;
  grid-column: 2;
}
/* 
.box:nth-child(2) img{
  height: 65vh;
  object-fit: cover;
  background-color: saddlebrown;
} */

 .box:nth-child(3) {
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0;
  /* background-color: rgba(177, 114, 210, 0.722); */
    background-color: rgb(236, 236, 236);

  grid-row: 1;
  grid-column: 3;
  line-height: 0;
}
 .box:nth-child(4) {
  display: flex;
 justify-content: flex-start;
 align-items: flex-start;
  /* background-color: rgb(215, 215, 215); */
    background-color: rgb(255, 255, 255);

  grid-row: 2;
  grid-column: 3;
}
 .box:nth-child(5) {
  /* background-color: rgb(219, 227, 227); */
    background-color: rgb(255, 255, 255);

   justify-content: flex-start;
 align-items: flex-start;
  grid-row: 3;
  grid-column: 3;
}
 .box:nth-child(6) {
    background-color: rgb(255, 255, 255);

   justify-content: flex-start;
 align-items: flex-start;
  grid-row: 4;
  grid-column: 3;
}
.box:nth-child(7) {
  background-color: rgb(255, 255, 255);

 justify-content: flex-start;
align-items: flex-start;
grid-column: 3;
grid-row: 5;
overflow: hidden;
}
.box img{
  max-height: 550px;
  max-width: 700px;

}
.box:nth-child(4) button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 5px;
  flex-direction: row;

padding: 0;
border: 1px solid #1D1F22;
}

.box:nth-child(4) button {
  appearance: none;
  background: none;
  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.box:nth-child(4) button:hover,
button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
  background-color: rgba(15, 14, 17, 0.2);

}

.box:nth-child(4) button:active {
  background-color: rgba(27, 27, 27, 0.904);
}
.addToCart{
  /* margin: 20px auto;
    width: 100%;
    background-color: #;
    color: white;
    font-weight: 600;


    padding: 16px 32px; */

        width: 20vw;
    text-align: center;
    background-color: #5ECE7B;
    padding: 16px 25px;
    margin-right: 15px;
    margin-bottom: 9px;
    margin-top: 30px;
    transition: all 50ms ease-in-out;
    color: white;
    cursor: pointer;
}

.addToCart:hover{
    color: #222;
    background-color: #499c34;
}
.addToCart:focus-within{
    background-color: #499c34;

}
.attributesColor {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    cursor: pointer;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.attributesText {
    width: 63px;
    height: 45px;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
    border: 1px solid #1D1F22;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
}

.addToCart:visited{
    color: #222;
    background-color: red;
}

/* .addtoBag{
    margin: 20px auto;
    width: 80%;
    height: 40px;
    background-color: var(--light);
    color: var(--dark);
    font-weight: 800;
    font-size: 1.5rem;
    border: 2px solid var(--primary);
    cursor: pointer;
    transition: ease-in-out 150ms;
}
.addtoBag:hover{
    opacity: 1;
    background-color: var(--primary);
    border: 2px solid var(--dark);
}
.addtoBag:active{
    transform: scale(0.95);
} */
/* .box.box:nth-child(2) h2{
  font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 27px;
display: flex;
align-items: center;
}
.box.box:nth-child(2) p{
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 27px;
display: flex;
align-items: center;
} */
/* .box:nth-child(3) {

  background-color: rgb(191, 255, 0);
  grid-row: 2/4;
  grid-column: 1/2;
}
.box:nth-child(4) {

  background-color: rgb(38, 173, 23);
  grid-column: 3/4;
  grid-row: 1/4;
} */
