/* @import url("./index.css"); */

/* mtnsash T3ml import hena  */

.navbar {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: var(--dark);
    color: var(--light);
    padding: 10px 10%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.home{
    background-color: var(--primary);
    padding: 3px;
    margin: 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
    }
  }

.categories {
    display: flex;
    justify-content: space-between;
}

.category{
    margin: 0 15px;
    font-weight: light;
    font-size: 1.5em;
    border-bottom: 3px solid transparent;
    padding: 15px 0px;
    cursor: pointer;
}

.category:hover{
    border-bottom: 3px solid var(--primary);
    color: var(--primary);
}

.currency {
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
    width: fit-content;
    height: 1.5rem;
    font-weight: bold;
    background-color: var(--primary);
    color: var(--dark);
    cursor: pointer;
}

.currencyOption{
    background-color: var(--light);
    color: var(--dark);
}

.misc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: clamp(fit-content, 20%, 200px);
    
}

.misc button {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    padding: 5px;
    margin: auto 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 20%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.badge{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1px;
    color: white;
    background-color: #1D1F22;
    font-weight: 600;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
}

.backdrop {
    position: fixed;
    top: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: -10;

}

.CategoryItem {
    margin-left: 20px;
    cursor: pointer;
    line-height: 19.2px;
    font-weight: 400 normal;
    font-size: 16px;
    font: 'Raleway';
    transition: all 100ms ease-in-out;
    text-transform: uppercase;
    padding-bottom: 16px;
}


.CategoryItem:hover {
    transform: scale(1.02);
    color: #5ECE7B;
    border-bottom: #5ECE7B solid;

}